body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

a {
    color: aquamarine;
    font-size: 16px;
}

.subheading {
    font-size: 21px;
    color: gray;
}

.copyright {
    text-align: right;
    color: gray;
}