body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

a {
    color: aquamarine;
}